
// SCROLL_UP
.scrollup
    font-size: 10px
    line-height: 1
    text-transform: capitalize
    text-align: center
    color: $black
    display: block
    width: 20px
    position: fixed
    right: 10px
    bottom: 30px
    z-index: 3
    opacity: 0.8
    @media only screen and (min-width: 468px)
        font-size: 12px
        bottom: 20px
    @media only screen and (min-width: 992px)
        width: 25px
        right: 6px
        font-size: 16px
    &:hover
        opacity: 1
        color: $basecolor
    svg
        width: 28px
        height: 28px
        fill: $basecolor
        margin-bottom: 10px
        @media only screen and (min-width: 468px)
            width: 20px
            height: 36px
    span
        writing-mode: vertical-rl
        text-orientation: mixed

.cmnflxBx
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    margin: -8px
    position: relative
    margin-bottom: 20px
    @media only screen and (min-width:1441px)
        margin-bottom: 35px
    >*
        padding: 8px
        @media only screen and (max-width:768px)
            width: 100%
            text-align: center
    .viewAll
        display: flex
        font-size: 16px
        font-weight: 400
        color: $text
        width: fit-content
        width: -webkit-fit-content
        transition: all 0.5s
        @media only screen and (max-width:768px)
            margin: auto
        &:hover
            color: $basecolor

.fixredRit
    display: flex
    flex-wrap: wrap
    position: fixed
    right: 0px
    width: 40px
    z-index: 9999
    bottom: 50px
    @media only screen and (min-width:1200px)
        right: 45px
        bottom: 10%
    @media only screen and (min-width:1661px)
        right: 55px

    li
        width: 100%

        &:not(:last-of-type)
            margin-bottom: 10px
            @media only screen and (min-width:1200px)
                margin-bottom: 15px
        &:nth-child(3n - 1)
            .socialBtn
                background: #1B3765
        &:nth-child(3n - 2)
            .socialBtn

                background: #11294B
        &:nth-child(3n)
            .socialBtn
                background: #2AA81A

    .socialBtn
        transition: all 0.5s
        @include center
        border-radius: 50%
        width: 35px
        height: 35px
        @media only screen and (min-width:1551px)
            width: 40px
            height: 40px
        &:hover
            transform: translateY(-4px)

        .icon
            width: 15px
            height: 15px
            display: flex
            @media only screen and (min-width:1551px)
                width: 18px
                height: 18px
            svg
                @include imgFit

// BREADCRUMB
#Breadcrumb
    width: 100%
    height: auto
    padding: 10px 0
    ul
        align-items: center
        @include display
        li
            align-items: center
            @include display
            &:last-of-type
                a
                    color: $basecolor
                    pointer-events: none

            &:not(:last-of-type)
                &::after
                    content: ""
                    background-image: url(../images/breadcrumb.webp)
                    margin: 0 5px
                    background-repeat: no-repeat
                    // background-size: 11px
                    width: 9px
                    height: 12px
                    background-size: 9px 12px
                    @media only screen and (min-width: 576px)
                        margin: 0 7px
                    @media only screen and (min-width: 992px)
                        margin: 0 10px
            a, div
                font-size: 10px
                line-height: 1
                font-weight: 400
                color: #fff
                display: block
                margin: 0
                @media only screen and (min-width: 576px)
                    font-size: 12px
                @media only screen and (min-width: 992px)
                    font-size: 14px
                @media only screen and (min-width: 1200px)
                    font-size: 16px
                @media only screen and (min-width: 1551px)
                    font-size: 20px
                &.current
                    color: #fff
                    pointer-events: none
                &:hover
                    color: $basecolor

// success
.success
    background: rgba(0, 0, 0, .94)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    z-index: 999999
    display: flex
    align-items: center
    .modal-content
        max-width: 345px
        margin: auto
        // .modal-content
        //     background: transparent !important
    .modal-body
        // background: transparent !important
        .imgBx
            max-width: 192px
            margin: auto
            margin-bottom: 23px
        .title
            font-size: 18px
            color: #fff
            font-weight: 600
            text-align: center
            @media only screen and (min-width: 1200px)
                font-size: 22px
            @media only screen and (min-width: 1551px)
                font-size: 26px
            @media only screen and (min-width: 1661px)
                font-size: 30px
        p
            color: #fff
            text-align: center
            @media only screen and (min-width: 1551px)
                font-size: 20px
        .cmnBtn
            background-color: $basecolor
            width: 192px
            color: #ffff
            border-radius: 0px

.swiper-button-next, .swiper-button-prev
    &:after
        display: none

// INNER_BANNER
#InnerBanner
    width: 100%
    height: 280px
    overflow: hidden
    position: relative
    z-index: 0
    @media only screen and (min-width: 576px)
        height: 300px
    @media only screen and (min-width: 992px)
        height: 400px
    @media only screen and (min-width: 1441px)
        height: 450px
    @media only screen and (min-width: 1551px)
        height: 500px
    @media only screen and (min-width: 1661px)
        height: 600px
    &::after
        content: ''
        position: absolute
        z-index: 0
        inset: 0
        width: 100%
        height: 50%
        top: initial
        bottom: 0px
        left: 0px
        right: 0px
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 99.61%)
        mix-blend-mode: multiply
        pointer-events: none
    .container
        height: 100%
        position: absolute
        z-index: 1
        inset: 0
        padding-top: calc(var(--header-y) + 15px)
        padding-bottom: 15px
        @media only screen and (min-width: 576px)
            padding-top: calc(var(--header-y) + 20px)
            padding-bottom: 20px
        @media only screen and (min-width: 992px)
            padding-top: calc(var(--header-y) + 30px)
            padding-bottom: 30px
        @media only screen and (min-width: 1551px)
            padding-top: calc(var(--header-y) + 40px)
            padding-bottom: 40px
        .cntWrap
            width: 100%
            position: absolute
            bottom: 40px
            @media only screen and (min-width: 1551px)
                bottom: 50px
            @media only screen and (min-width: 1661px)
                bottom: 60px
            .mHead
                font-size: 35px
                font-weight: 400
                color: $white
                font-family: $fontstack2
                margin-bottom: 0px
                text-transform: capitalize
                @media only screen and (min-width: 1200px)
                    font-size: 40px
                @media only screen and (min-width: 1441px)
                    font-size: 45px
                @media only screen and (min-width: 1551px)
                    font-size: 50px
                @media only screen and (min-width: 1661px)
                    font-size: 56px
                span
                    font-style: italic

    img, video, source, picture
        @include imgFit
