/************ ****** ************/
/************ FOOTER ************/
/************ ****** ************/
#footer
    background: #FFEEEE
    padding: 40px 0
    position: relative
    overflow: hidden
    @media only screen and (min-width:992px)
        padding: 40px 0
    @media only screen and (min-width:1200px)
        padding: 50px 0 30px
    @media only screen and (min-width:1551px)
        padding: 80px 0 60px
    @media only screen and (min-width:1661px)
        padding: 100px 0px 70px
    .footer-bg
        position: absolute
        top: 0
        bottom: 0
        width: 100%
        pointer-events: none
        display: none
        @media only screen and (min-width:992px)
            display: block
        img
            width: 100%
            height: 100%
            object-fit: cover
    .footer-bg-mob
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: auto
        max-width: 320px
        display: block
        pointer-events: none
        @media only screen and (min-width:992px)
            display: none
        img
            width: 100%
            height: 100%
            object-fit: cover
    .row
        margin: -7px
        @media only screen and (min-width:1551px)
            margin: -15px
        >*
            padding: 7px
            @media only screen and (min-width:1551px)
                padding: 15px
            &:nth-child(1)
                .accordion-item
                    .accordion-header
                        display: none !important
                    .accordion-collapse
                        display: block !important
                        @media only screen and (min-width:992px)
                            padding-left: 0px
    form
        @media only screen and (min-width:992px)
            padding-right: 130px
            max-width: 100%
        .form-group
            position: relative
            display: flex
            .form-control
                border: none
                border-radius: 0px
                &::placeholder
                    font-size: 14px
                    color: #ACACAC
                    font-weight: 400
                    @media only screen and (min-width:1200px)
                        font-size: 16px
                    @media only screen and (min-width:1441px)
                        font-size: 18px
        button
            display: block
            background-color: #fff
            padding-right: 25px
    .cmnLink
        display: flex
        align-items: center
        font-weight: 400
        color: #373737
        width: fit-content
        font-size: 13px
        @media only screen and (min-width:1351px)
            font-size: 14px
        @media only screen and (min-width:1441px)
            font-size: 15px
        @media only screen and (min-width:1551px)
            font-size: 16px
        @media only screen and (min-width:1661px)
            font-size: 18px
        &:hover
            color: $basecolor
        .icon
            width: 16px
            height: auto
            overflow: hidden
            @include center
            @media only screen and (min-width:1551px)
                width: 22px
                height: 22px
            svg
                max-width: 100%

        &:has(.icon)
            align-items: center
            white-space-collapse: preserve-spaces
            span
                padding-left: 15px
                width: calc(100% - 16px)
                @media only screen and (min-width:1551px)
                    width: calc(100% - 22px)
    .contBx
        margin-top: 20px
        @media only screen and (min-width:992px)
            margin-top: 15px
        @media only screen and (min-width:1441px)
            margin-top: 25px
        ul
            li
                @media only screen and (max-width:992px)
                    padding-bottom: 10px
        .Txt
            color: #000
            margin-bottom: 10px
            font-size: 16px
            font-weight: 500
            text-transform: capitalize
            @media only screen and (min-width:992px)
                font-size: 14px
                margin-bottom: 15px
            @media only screen and (min-width:1441px)
                font-size: 16px
                margin-bottom: 25px
            @media only screen and (min-width:1551px)
                font-size: 18px
            @media only screen and (min-width:1661px)
                font-size: 20px
    .accordion
        .accordion-item
            box-shadow: none
            border: 0
            background: transparent
            border-bottom: 1px solid #C3C3C3
            border-radius: 0
            @media only screen and (min-width:992px)
                border-bottom: none
        .accordion-header
            @media only screen and (min-width:992px)
                display: none
            .accordion-button
                background: transparent
                color: $white
                padding: 5px 0
                box-shadow: none
                outline: 0
                &:not(.collapsed)
                    &::after
                        content: '-'
                &::after
                    position: absolute
                    content: '+'
                    right: 0
                    top: 0
                    bottom: 0
                    font-size: 16px
                    color: #000
                    font-weight: 500
                    background-image: none
                    transform: none
                    width: 22px
                    height: 22px
                    background-color: #F8C7C7
                    display: flex
                    align-items: center
                    justify-content: center
        .mainTitle
            font-weight: 500
            color: #000000
            padding-bottom: 10px
            position: relative
            text-transform: capitalize
            position: relative
            display: flex
            align-items: baseline
            width: fit-content
            font-size: 16px
            @media only screen and (min-width:992px)
                padding-bottom: 15px
                font-size: 14px
            @media only screen and (min-width:1351px)
                font-size: 16px
            @media only screen and (min-width:1441px)
                font-size: 18px
            @media only screen and (min-width:1661px)
                font-size: 20px
            &::after
                @media only screen and (min-width:992px)
                    position: absolute
                    content: ""
                    bottom: -8px
                    display: block
                    left: 0
                    right: 0
                    background-image: url(../images/border.webp)
                    background-repeat: no-repeat
                    width: 60px
                    height: 10px
                    margin: 5px
                    background-size: 60px 10px
                    @media only screen and (min-width:1441px)
                        width: 85px
                        background-size: 85px 10px
                    @media only screen and (min-width:1551px)
                        bottom: -12px
        .accordion-collapse
            @media only screen and (min-width:992px)
                display: block
                padding-left: 45px

            .accordion-body
                color: $white
                padding: 15px 0
                @media only screen and (min-width:992px)
                    padding: 0
                p
                    color: #373737
                    margin-bottom: 0
                    font-weight: 400
                    font-size: 13px
                    @media only screen and (min-width:1351px)
                        font-size: 14px
                    @media only screen and (min-width:1441px)
                        font-size: 15px
                    @media only screen and (min-width:1551px)
                        font-size: 16px
                    @media only screen and (min-width:1661px)
                        font-size: 18px

                .mainTitle
                    margin-bottom: 15px
                    @media only screen and (min-width:1551px)
                        margin-bottom: 20px
                    @media only screen and (max-width:992px)
                        display: none

                .logFlx
                    margin-bottom: 10px
                    max-width: 400px
                    @media only screen and (min-width:992px)
                        padding-right: 130px
                        max-width: 100%
                    .logoBx
                        display: flex
                        width: 150px
                        margin-bottom: 15px
                        @media only screen and (min-width:1441px)
                            margin-bottom: 20px
                            width: 200px
                        @media only screen and (min-width:1661px)
                            width: 226px
                        .imgBx
                            width: 100%
                            height: 100%

                    .info
                        width: 100%

                ul
                    li
                        &:not(:last-of-type)
                            margin-bottom: 10px
                            @media only screen and (min-width:1551px)
                                margin-bottom: 15px
                        &:has(.icon)
                            margin-bottom: 10px
                            @media only screen and (min-width:1351px)
                                margin-bottom: 20px
#copyRights
    background: #fff
    .cmnLink
        display: flex
        align-items: center
        font-weight: 400
        color: $white
        font-size: 14px
        white-space-collapse: break-spaces
        @media only screen and (min-width:1441px)
            font-size: 16px
        &:hover
            .icon
                svg
                    fill: $basecolor1
        .icon
            overflow: hidden
            @include center
        &:has(.icon)
            align-items: flex-start
            span
                width: calc(100% - 36px)
    .copyRight
        display: flex
        align-items: center
        flex-wrap: wrap
        justify-content: space-between
        padding: 15px 0
        border-top: 1px solid rgba($white, 0.1)
        width: 100%
        >*
            padding: 8px
            @media only screen and (max-width:992px)
                width: 100%
            // width: calc(100% / 3)
        .copyLink
            display: flex
            width: fit-content
            color: #444444
            font-size: 18px
            @media only screen and (max-width:992px)
                // margin: auto
                // text-align: center
                font-size: 14px
            @media only screen and (max-width:330px)
                font-size: 13px
        .flxBx
            display: flex
            align-items: center
            .social
                display: flex
                align-items: center
                margin: 0 -12px
                li
                    padding: 0px 12px
                    a
                        svg
                            fill: #6C6C6C
                        &:hover
                            svg
                                fill: $basecolor

        .ftTxt
            color: #444444
            font-weight: 400
            display: flex
            align-items: center
            line-height: 1
            margin-bottom: 0
            @media only screen and (max-width: 992px)
                font-size: 14px
                // justify-content: center
            a
                display: inline-flex
                margin: 0 5px 0px 15px
            img
                @media only screen and (max-width: 1200px)
                    max-width: 95px
