//Header
.modal-backdrop
    background: rgba(54, 54, 54, 0.8)
    &.show
        opacity: 1
        z-index: 3
#Header
    width: 100%
    position: absolute
    z-index: 999
    top: 0
    left: 0
    background: transparent
    // background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
    animation-duration: .4s
    transition: background 0s ease
    border-bottom: 1px solid rgba($black,0.4)
    padding-bottom: 8px
    &.hide
        display: none
    &.sticky
        position: fixed
        top: 0
        animation-name: fadeInDown
        animation-duration: .8s
        animation-fill-mode: both
        background: $white
        -webkit-backdrop-filter: blur(10px)
        backdrop-filter: blur(10px)
        padding-bottom: 5px
        box-shadow: 0 5px 10px rgba(0,0,0,.1)
        border: 0 !important
        #HeaderMain
            #AccordMenu
                @media only screen and (max-width: 992px)
                    top: 73px
                    height: calc(100vh - 73px)

            .mainFlx
                @media only screen and (max-width: 992px)
                    padding-top: 0
                .lftSd
                    padding: 0 0 10px
                    .captionTxt
                        @media only screen and (min-width: 1200px)
                            margin-left: 15px
                        @media only screen and (min-width: 1441px)
                            margin-left: 30px
                    .logo
                        max-width: 210px
                        padding-top: 10px
                .rgtSd
                    .topBar
                        display: none

    #HeaderMain
        position: relative

        .mainFlx
            display: flex
            align-items: center
            justify-content: space-between
            padding-top: 40px
            // position: relative
            @media only screen and (min-width: 992px)
                align-items: center
                padding-top: 0

            .lftSd
                transition: transform 0.4s
                width: 140px
                padding: 10px 0
                @media only screen and (min-width: 478px)
                    width: 160px
                @media only screen and (min-width: 992px)
                    width: 175px
                @media only screen and (min-width: 1200px)
                    width: 400px
                @media only screen and (min-width: 1351px)
                    width: 450px
                @media only screen and (min-width: 1551px)
                    width: 575px
                .logNx
                    display: flex
                    align-items: center
                    flex-wrap: wrap
                .logo
                    width: 100%
                    display: block
                    padding: 0
                    background: none
                    transition: transform 0.4s
                    position: relative
                    z-index: 0
                    max-width: 100%
                    @media only screen and (min-width: 992px)
                        margin: auto
                        margin-bottom: 10px
                        max-width: 160px
                    @media only screen and (min-width: 1200px)
                        margin: 0
                        max-width: 175px
                    @media only screen and (min-width: 1351px)
                        max-width: 210px
                    @media only screen and (min-width: 1551px)
                        max-width: 230px
                    svg, img
                        @include imgFit
                    &:hover
                        transform: scale(1.02)
                .captionTxt
                    color: $basecolor
                    max-width: 175px
                    line-height: 1.6
                    text-transform: uppercase
                    max-width: 100%
                    margin: auto
                    font-size: 14px
                    @media only screen and (min-width: 1200px)
                        font-size: 16px
                        border-left: 1px solid rgba($black, 0.28)
                        padding-left: 25px
                        max-width: 175px
                        margin: 0
                        margin-left: 30px
                    @media only screen and (max-width: 992px)
                        display: none

            .rgtSd
                @include display
                z-index: 0
                justify-content: flex-end
                width: calc(100% - 200px)
                @media only screen and (min-width: 992px)
                    width: calc(100% - 175px)
                    padding-left: 80px
                @media only screen and (min-width: 1200px)
                    padding-left: 0px
                    width: calc(100% - 400px)
                @media only screen and (min-width: 1351px)
                    width: calc(100% - 450px)
                @media only screen and (min-width: 1551px)
                    width: calc(100% - 575px)
                .topBar
                    display: flex
                    align-items: center
                    width: 100%
                    padding: 15px 0 8px
                    border-bottom: 1px solid rgba($black, 0.15)
                    margin-bottom: 8px
                    @media only screen and (max-width: 992px)
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        padding: 0

                    .lftBx
                        width: 320px
                        @media only screen and (max-width: 992px)
                            display: none
                        .socialLinks
                            display: flex
                            align-items: center
                            li
                                &:not(:last-of-type)
                                    margin-right: 20px
                            .socialIcon
                                display: flex
                                &:hover
                                    .icon
                                        svg
                                            fill: $basecolor
                                .icon
                                    width: 16px
                                    height: 15px
                                    display: flex
                                    svg
                                        transition: all 0.5s
                                        fill: #6C6C6C
                                        @include imgFit
                                        &#fb
                                            width: 8px
                                        // &#youT
                                        //     width: 15px

                    .rtBx
                        display: flex
                        align-items: center
                        justify-content: space-between
                        width: 100%
                        @media only screen and (min-width: 992px)
                            width: calc(100% - 320px)
                        .shBx
                            display: flex
                            align-items: center
                            width: 260px
                            @media only screen and (max-width: 992px)
                                width: 145px
                                background: #dc3545
                                padding: 8px

                            .txt
                                color: $white
                                font-weight: 400
                                font-size: 12px
                                width: 100%
                                @media only screen and (min-width: 992px)
                                    color: #545454
                                    font-size: 16px
                                    width: calc(100% - 95px)
                            .iconbX
                                width: 85px
                                @media only screen and (max-width: 992px)
                                    display: none
                                img
                                    @include imgFit
                        .locations
                            width: calc(100% - 145px)
                            @media only screen and (min-width: 992px)
                                width: calc(100% - 260px)
                            .allLocatins
                                display: flex
                                align-items: center
                                .node-marquee__el
                                    display: flex !important
                                    align-items: center
                                    .locatnBtn
                                        display: flex
                                        width: fit-content
                                        color: #545454
                                        font-size: 15px
                                        padding: 0 10px
                                        transition: all 0.5s
                                        @media only screen and (min-width: 992px)
                                            font-size: 16px
                                        &:hover
                                            color: $basecolor
                                    li
                                        &:not(:last-of-type)
                                        .locatnBtn
                                            border-right: 1px solid rgba(84, 84, 84, 0.5)

        .cNacBtn
            --btn-w: 28px
            @include defaultValue
            width: var(--btn-w)
            height: var(--btn-w)
            will-change: transform
            display: flex
            flex-wrap: wrap
            flex-direction: row-reverse

            &:hover
                span
                    &:nth-child(3)
                        width: calc(var(--btn-w) / 7 )
            &.open
                --btn-w: 25px
                .icon
                    display: flex
                span
                    width: 100% !important
                    margin: 0
                    display: none
                    &:nth-child(1)
                        transform: rotate(45deg) translate(0, 0)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: rotate(-45deg) translate(2px, -2px)
            span
                width: 100%
                height: 2px
                display: block
                background-color: $black
                border-radius: 4px
                margin: 3px 0
                -webkit-transition: all 0.3s ease
                -moz-transition: all 0.3s ease
                -ms-transition: all 0.3s ease
                -o-transition: all 0.3s ease
                transition: all 0.3s ease
                position: relative
                z-index: 0
                @media only screen and (min-width: 576px)
                    margin: 4px 0
                &:nth-child(1)
                    width: 85%
                &:nth-child(3)
                    width: 55%
            .icon
                width: 24px
                height: 24px
                display: none

                svg
                    @include imgFit
        .cNacBtnWrap
            display: flex
            transition: transform .4s ease
            padding: 0 0 0 10px
            display: flex
            align-items: center
            justify-content: end
            @media only screen and (min-width: 576px)
                padding: 0 0 0 15px
            @media only screen and (min-width: 992px)
                display: none
        .ritBx
            display: flex
            align-items: center
            width: 100%
            justify-content: flex-end
            .visitBtn
                background: $basecolor
                color: $white
                font-weight: 400
                min-width: 80px
                height: 35px
                font-size: 14px
                @include center
                @media only screen and (min-width: 360px)
                    font-size: 16px
                    min-width: 90px
                    height: 40px
                @media only screen and (min-width: 578px)
                    min-width: 103px
                    height: 40px
                @media only screen and (min-width: 992px)
                    display: none

        #CNavPOP
            padding: 10px 0
            @media only screen and (min-width: 992px)
                position: relative
                z-index: -1
                z-index: 0
                padding: 0
                width: 100%
            .cNavWrap
                display: flex
                align-items: center
                justify-content: space-between
        .cNavWrap
            width: 100%
            .menuTxt
                font-weight: 500
                color: $black
                font-size: 22px
                margin-bottom: 15px
                text-transform: capitalize
                display: none
                background: $white
            .footerSec
                padding: 60px 0
                @media only screen and (min-width: 992px)
                    display: none
                .socialLinks
                    display: flex
                    align-items: center
                    margin-bottom: 25px
                    li
                        &:not(:last-of-type)
                            margin-right: 20px
                    .socialIcon
                        display: flex
                        &:hover
                            .icon
                                svg
                                    fill: $basecolor
                        .icon
                            width: 19px
                            height: 19px
                            display: flex
                            svg
                                transition: all 0.5s
                                fill: #6C6C6C
                                @include imgFit
                                &#fb
                                    width: 9px
                p
                    color: #444444
                    font-size: 13px
                    font-weight: 400
                    margin-bottom: 20px

        #AccordMenu
            height: 100%
            transition: all 0.2s
            @media only screen and (min-width: 992px)
                padding: 0
                align-items: center
                height: auto
                transform: none
                display: flex
                width: 100%
                justify-content: space-between
            &.show
                width: 100%
                opacity: 1
                visibility: visible
                right: 0
                .menuTxt
                    display: block
            @media only screen and (max-width:992px)
                position: absolute
                display: block !important
                background: $white
                height: calc(100vh - 90px)
                max-width: 100%
                opacity: 0
                visibility: hidden
                right: 0
                top: 90px
                width: 100%
                backdrop-filter: blur(20px)
                --webkit-backdrop-filter: blur(20px)
                padding: 10px 25px 0
                overflow: auto
            .menuSecBx
                background: #ddb17a
                padding: 30px 20px
                @media only screen and (min-width: 992px)
                    display: flex
                    width: 100%
                    background: transparent
                    justify-content: space-between
                    padding: 0
            .accordion-item
                border-radius: 0
                border: none
                background: none
                position: relative
                margin-bottom: 15px
                @media only screen and (min-width: 992px)
                    margin-bottom: 0
                //     margin-right: 20px
                // @media only screen and (min-width: 1351px)
                //     margin-right: 30px
                // @media only screen and (min-width: 1551px)
                //     margin-right: 50px
                // @media only screen and (min-width: 1661px)
                //     margin-right: 60px
                &:nth-child(1)
                    .accordion-header
                        .accordion-button
                            @media only screen and (min-width: 992px)
                                padding-left: 0 !important
                &:has(.cmnBtn )
                    @media only screen and (max-width: 992px)
                        padding: 0 10px
                    .cmnBtn
                        @media only screen and (max-width: 992px)
                            margin: 10px 0
                            width: 100%

                &:has(.accordion-collapse)
                    &:hover
                        .dropBxMenu
                            @media only screen and (min-width: 992px)
                                display: block !important
                                opacity: 1
                                visibility: visible

                    .accordion-button
                        &::after
                            position: absolute
                            content: '+'
                            top: 0
                            bottom: 0
                            right: 15px
                            font-size: 15px
                            font-weight: 600
                            color: $white
                            margin: auto
                            width: fit-content
                            height: fit-content
                            background-image: none

                        // span
                        //     margin-right: 15px
                .dropBxMenu
                    background: #626e7899
                    @media only screen and (min-width: 992px)
                        position: absolute
                        background: $white
                        top: 100%
                        left: 0
                        width: 100%
                        transform: translateY(0px)
                        transition: all 0.5s
                        display: block
                        opacity: 0
                        visibility: hidden
                        box-shadow: 0 5px 8px rgba(0,0,0,0.2)
                        @media only screen and (min-width: 992px)
                            min-width: 230px
                    .accordion-body
                        padding: 0
                        max-height: 225px
                        overflow: auto

                    ul
                        li
                            &:not(:last-of-type)
                                border-bottom: 1px solid rgba($black, 0.3)
                            .cmnLinks
                                display: block
                                width: 100%
                                background: transparent
                                padding: 8px 15px
                                transition: all 0.5s
                                font-size: 14px
                                color: $white
                                @media only screen and (min-width: 992px)
                                    padding: 8px
                                    color: $black
                                &:hover, &.active
                                    background: $basecolor
                                    color: $white
                &:has(.megMenu)
                    .accordion-button
                        @media only screen and (min-width: 992px)
                            padding-right: 20px
                            // padding-bottom: 25px
                        &:not(.collapsed)
                            &::before
                                opacity: 1
                                visibility: visible
                            &::after
                                bottom: 5px
                        &::after
                            position: absolute
                            content: ''
                            top: 0
                            bottom: 0px
                            right: 0px
                            // transform: none
                            display: block
                            background: url('../images/arrows.svg') no-repeat
                            width: 12px
                            height: 12px
                            @media only screen and (min-width:992px)
                                bottom: -5px
                                right: -10px
                            @media only screen and (min-width:1441px)

                                right: 0px
                        &::before
                            @media only screen and (min-width: 992px)
                                position: absolute
                                content: ''
                                bottom: 0px
                                left: 0
                                width: 100%
                                height: 4px
                                background: $basecolor
                                opacity: 0
                                visibility: hidden

                    &:hover
                        .accordion-button
                            &::after
                                bottom: 5px
                                transform: rotate(180deg)
                            &::before
                                opacity: 1
                                visibility: visible
                        .megMenu
                            @media only screen and (min-width: 992px)
                                display: block
                    .megMenu
                        @media only screen and (min-width: 992px)
                            position: absolute
                            left: unset
                            background: $white
                            padding: 0
                            min-width: 450px
                            top: 100%
                            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08) inset 
                        @media only screen and (min-width:1441px)
                            // top: calc(100% + 3px)
                            min-width: 540px
                        .accordion-body
                            padding: 15px 0 0
                            @media only screen and (min-width: 992px)
                                padding: 0
                            .accordion-button
                                @media only screen and (max-width: 992px)
                                    font-size: 14px
                                    padding-left: 25px
                                &::before
                                    display: none
                            .accordion-body
                                @media only screen and (max-width: 992px)
                                    padding: 15px 25px !important
                        .flxBx
                            display: flex
                            // &:has(.rtbx .accordion-item .show)
                            //     .lftbX
                            //         ul
                            //             li
                            //                 position: relative
                            //                 .accordion-button
                            //                     background: rgba(255, 223, 223, 1)
                            //                     color: $basecolor
                            //                     font-weight: 700
                            .lftbX
                                width: 200px
                                background: #F5F5F5
                                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08) inset
                                padding: 20px 0
                                @media only screen and (min-width:1441px)
                                    padding: 25px 0
                                @media only screen and (max-width: 992px)
                                    display: none
                                ul
                                    li
                                        position: relative
                                        .accordion-button
                                            box-shadow: none
                                            border: 0
                                            outline: 0
                                            background: transparent
                                            font-size: 16px
                                            font-weight: 400
                                            padding: 10px 30px
                                            color: #1D1D1D
                                            transition: all 0.5s
                                            position: relative
                                            &:hover
                                                background: rgba(255, 223, 223, 1)
                                                color: $basecolor
                                                font-weight: 700
                                                &::after
                                                    opacity: 1
                                                    visibility: visible
                                            &.active
                                                background: rgba(255, 223, 223, 1)
                                                color: $basecolor
                                                font-weight: 700
                                                // @media only screen and (min-width:992px)
                                                //     pointer-events: none
                                                &::after
                                                    opacity: 1
                                                    visibility: visible
                                            &::after
                                                position: absolute
                                                content: ''
                                                top: 0
                                                bottom: 0
                                                background-image: none
                                                background: url('../images/arrow.svg') no-repeat
                                                right: 10px
                                                margin: auto
                                                display: block
                                                width: 15px
                                                height: 15px
                                                transform: none
                                                opacity: 0
                                                visibility: hidden
                                                transition: all 0.5s

                            .rtbx
                                width: 100%
                                @media only screen and (min-width: 992px)
                                    width: calc(100% - 200px)
                                .accordion-header
                                    @media only screen and (min-width: 992px)
                                        display: none
                                .accordion-collapse
                                    .accordion-body
                                        padding: 25px 30px
                                        @media only screen and (min-width:1441px)
                                            padding: 30px 45px
                                        ul
                                            li
                                                &:not(:last-of-type)
                                                    margin-bottom: 15px
                                                .cmnLink
                                                    display: block
                                                    width: fit-content
                                                    text-transform: uppercase
                                                    font-size: 14px
                                                    color: #1D1D1D
                                                    transition: all 0.5s
                                                    @media only screen and (min-width:1441px)
                                                        font-size: 16px
                                                    &:hover
                                                        color: $basecolor

                &:nth-child(1)
                    .accordion-header
                        .accordion-button
                            @media only screen and (min-width: 992px)
                                padding-left: 0
                // &:last-child
                //     .accordion-header
                //         .accordion-button
                //             @media only screen and (min-width: 992px)
                //                 padding-right: 0

                .accordion-header
                    justify-content: space-between
                    @include display
                    flex-wrap: nowrap
                    a, button
                        @include defaultValue
                        font-size: 16px
                        line-height: 1
                        font-weight: 500
                        position: relative
                        display: flex
                        text-align: start
                        transition: color .4s ease
                        padding: 0px
                        margin: 0
                        width: 100%
                        color: $black
                        letter-spacing: 0.4px
                        text-transform: uppercase
                        @media only screen and (min-width: 992px)
                            font-weight: 700
                            border: 0
                            width: fit-content
                            font-size: 14px
                            letter-spacing: 0.2px
                            padding: 16px 0px
                        @media only screen and (min-width: 1200px)
                            padding: 17px 0px
                            font-size: 12px
                        @media only screen and (min-width: 1351px)
                            padding: 17px 0px
                            font-size: 13px
                        @media only screen and (min-width: 1551px)
                            font-size: 15px
                        @media only screen and (min-width: 1661px)
                            font-size: 16px
                        &:has(.icon)
                            .icon
                                width: 22px
                                height: 22px
                                display: flex
                                margin-right: 10px
                                @media only screen and (min-width: 992px)
                                    display: none
                                svg
                                    @include imgFit

                        &[aria-expanded="true"], &:hover
                            color: $basecolor
                            &::after
                                color: $basecolor
                        span
                            @media only screen and (max-width: 992px)
                                padding-top: 12px
                                padding-bottom: 15px
                                width: 100%
                                border-bottom: 1px solid rgba($black, 0.16)
                        &.active
                            color: $basecolor
                            &::after
                                color: $basecolor
                        &.visitBtn
                            background: $basecolor
                            color: $white
                            height: 40px
                            width: 105px
                            font-size: 16px
                            font-weight: 400
                            margin: 0px
                            margin-top: 15px
                            text-align: center
                            @include center
                            margin-bottom: 40px
                            @media only screen and (min-width: 992px)
                                min-width: 105px
                                margin: 0
                                height: 40px
                                width: 100%
                            @media only screen and (min-width: 1200px)
                                font-size: 16px
                                min-width: 130px
                            @media only screen and (min-width: 1351px)
                                height: 45px
                                min-width: 150px

                        &::after
                            display: none
            .logoBx
                display: flex
                width: 100%
                @media only screen and (min-width: 992px)
                    display: none
                img
                    @include imgFit

.noBanner
    #Header
        #HeaderMain
            background: #000
.cPop-open
    #Header
        #HeaderMain
            .ritBx
                .visitBtn
                    @media only screen and (max-width:992px)
                        display: none
            .mainFlx
                @media only screen and (max-width:992px)
                    padding-top: 15px
                .lftSd
                    @media only screen and (max-width:992px)
                        z-index: 9999
                .rgtSd
                    .topBar
                        @media only screen and (max-width:992px)
                            display: none
