//HOME_PAGE
/************** ******* **************/
/************* HOME_PAGE *************/
/************** ******* **************/
.homepage
    overflow-x: hidden

    #about
        position: relative
        padding: 40px 0
        @media only screen and (min-width:1200px)
            padding: 60px 0
        @media only screen and (min-width:1441px)
            padding: 80px 0
        @media only screen and (min-width:1551px)
            padding: 110px 0 120px
        .mainHeads
            position: relative
            margin-bottom: 15px
            @media only screen and (min-width:992px)
                margin-bottom: 25px
            &.center
                text-align: center
                max-width: 700px
                margin: auto
                .subT, h1
                    margin: auto
                    margin-bottom: 15px
                    &::after
                        display: block
            &.white
                .mainTitle
                    color: $white
            .mainTitle
                color: $black
                font-weight: 700
                line-height: 1
                font-size: 24px
                font-family: $fontstack2
                @media only screen and (min-width:578px)
                    font-size: 28px
                @media only screen and (min-width:992px)
                    font-size: 30px
                @media only screen and (min-width:1200px)
                    font-size: 44px
                @media only screen and (min-width:1551px)
                    font-size: 55px
                @media only screen and (min-width:1661px)
                    font-size: 64px
                span
                    font-style: italic
            .subT, h1
                color: $basecolor
                font-weight: 500
                margin-bottom: 15px
                position: relative
                font-size: 12px
                @media only screen and (min-width:578px)
                    font-size: 13px
                @media only screen and (min-width:768px)
                    font-size: 15px
                @media only screen and (min-width:1441px)
                    font-size: 18px

        .abtLx
            display: flex
            flex-wrap: wrap
            margin: -8px
            >*
                padding: 8px
            .alx
                width: 100%
                @media only screen and (min-width:992px)
                    width: 450px
                @media only screen and (min-width:1200px)
                    width: 520px
                @media only screen and (min-width:1351px)
                    width: 575px
                @media only screen and (min-width:1551px)
                    width: 700px
                .mainTxt, h6
                    font-weight: 500
                    color: $text
                    font-size: 15px
                    @media only screen and (min-width:1351px)
                        font-size: 18px
                    @media only screen and (min-width:1551px)
                        font-size: 20px
                .contentBx
                    margin-bottom: 30px
                    @media only screen and (min-width:1200px)
                        padding-right: 50px
            .arlx
                width: 100%
                @media only screen and (min-width:992px)
                    width: calc(100% - 450px)
                @media only screen and (min-width:1200px)
                    width: calc(100% - 520px)
                @media only screen and (min-width:1351px)
                    width: calc(100% - 575px)
                @media only screen and (min-width:1551px)
                    width: calc(100% - 700px)
                .flxBx
                    display: flex
                    flex-wrap: wrap
                    .imgWrap
                        position: relative
                        width: 100%
                        margin-bottom: 25px
                        @media only screen and (min-width:678px)
                            width: 60%
                            margin-bottom: 0
                        @media only screen and (min-width:992px)
                            width: 370px
                        @media only screen and (min-width:1200px)
                            width: 430px
                        @media only screen and (min-width:1551px)
                            width: 515px
                        .imgBx
                            width: 100%
                            height: 100%
                            overflow: hidden
                            // background: #DDB17A
                            aspect-ratio: 515 / 510
                            transition: all 0.5s
                            position: relative
                            // .wnBx
                            //     position: absolute
                            //     left: 0
                            //     top: 0
                            //     transition: all 0.5s
                            //     bottom: 0
                            //     margin: auto
                            //     max-width: 160px
                            //     right: 0
                            //     z-index: 1
                            //     img
                            //         width: auto
                            //         object-fit: contain
                            // .bgBx
                            //     position: absolute
                            //     transition: all 1s
                            //     left: 0
                            //     top: 0
                            //     bottom: 0
                            //     margin: auto
                            //     max-width: 450px
                            //     img
                            //         // transition: all 1s
                            //         animation: swinging 6s linear infinite 
                            //         width: auto
                            //         object-fit: contain

                            img
                                @include imgFit
                        .tptxt
                            position: absolute
                            top: 15px
                            left: 35px
                            width: 100%
                            .txt
                                color: $white
                                font-style: italic
                                font-family: $fontstack2
                                opacity: 0.4
                                font-size: 50px
                                font-weight: 500
                                @media only screen and (min-width:1441px)
                                    font-size: 60px
                                @media only screen and (min-width:1551px)
                                    font-size: 70px

                        .btnmTxt
                            position: absolute
                            bottom: 25px
                            left: 0
                            width: 100%
                            display: flex
                            align-items: center
                            justify-content: space-between
                            padding: 0 25px
                            .year
                                color: $basecolor
                                font-weight: 700
                                font-size: 18px
                                @media only screen and (min-width:1200px)
                                    font-size: 20px
                                @media only screen and (min-width:1351px)
                                    font-size: 22px
                                @media only screen and (min-width:1441px)
                                    font-size: 24px
                            .cpmyNam
                                font-family: $fontstack2
                                font-weight: 700
                                color: $white
                                font-size: 25px
                                @media only screen and (min-width:1351px)
                                    font-size: 30px
                                @media only screen and (min-width:1441px)
                                    font-size: 36px
                    .conterBx
                        width: 100%
                        @media only screen and (min-width:678px)
                            padding-left: 35px
                            width: calc(100% - 60%)
                        @media only screen and (min-width:992px)
                            width: calc(100% - 370px)
                            padding-left: 35px
                        @media only screen and (min-width:1200px)
                            width: calc(100% - 430px)
                            padding-left: 55px
                        @media only screen and (min-width:1551px)
                            padding-left: 75px
                        @media only screen and (min-width:1551px)
                            width: calc(100% - 515px)
                            padding-left: 100px
                        .itemList
                            display: flex
                            flex-wrap: wrap
                            justify-content: center
                            margin: -8px
                            @media only screen and (min-width:678px)
                                justify-content: space-between
                                flex-direction: column
                            @media only screen and (min-width:768px)
                                height: 100%
                                flex-direction: row

                            >*
                                width: calc(100% / 2)
                                flex-grow: 1
                                padding: 8px

                                @media only screen and (min-width:378px)
                                    width: calc(100% / 3)
                                @media only screen and (min-width:678px)
                                    border-bottom: 1px solid #F9CBCB
                                    width: 100%
                                    border: 0
                                &:first-of-type
                                    @media only screen and (max-width:678px)
                                        .countBx
                                            padding-left: 0
                                &:not(:last-of-type)
                                    margin-bottom: 0px
                                    @media only screen and (min-width:378px)
                                        border-right: 1px solid #F9CBCB
                                    @media only screen and (min-width:678px)
                                        border: 0
                                        border-bottom: 1px solid #F9CBCB
                                        margin-bottom: 20px
                                    .countBx
                                        @media only screen and (min-width:678px)
                                            padding-bottom: 40px
                                .countBx
                                    @media only screen and (min-width:1200px)
                                        max-width: 115px
                                    @media only screen and (max-width:678px)
                                        padding-left: 20px
                                    .num
                                        font-weight: 800
                                        color: $basecolor
                                        margin-bottom: 5px
                                        font-family: $fontstack2
                                        line-height: 1
                                        font-size: 25px
                                        @media only screen and (min-width:420px)
                                            font-size: 30px
                                        @media only screen and (min-width:678px)
                                            font-size: 40px
                                        @media only screen and (min-width:992px)
                                            font-size: 45px
                                        @media only screen and (min-width:1200px)
                                            font-size: 55px
                                        @media only screen and (min-width:1441px)
                                            font-size: 65px
                                        @media only screen and (min-width:1551px)
                                            font-size: 76px
                                        @media only screen and (max-width:378px)
                                            text-align: center
                                        span
                                            padding-right: 5px
                                    .txt
                                        font-weight: 400
                                        color: #3D3D3D
                                        font-size: 12px
                                        line-height: 1.2
                                        @media only screen and (min-width:420px)
                                            font-size: 13px
                                        @media only screen and (min-width:992px)
                                            font-size: 14px
                                        @media only screen and (min-width:1200px)
                                            font-size: 16px
                                        @media only screen and (min-width:1351px)
                                            font-size: 18px
                                        @media only screen and (min-width:1551px)
                                            font-size: 20px
                                        @media only screen and (max-width:378px)
                                            text-align: center
#saree
    position: relative
    background: #FFEDED
    padding: 30px 0
    @media only screen and (min-width:1200px)
        padding: 50px 0
    @media only screen and (min-width:1551px)
        padding: 75px 0 90px
    .mainHead
        margin-bottom: 70px
    .sareeSlider
        overflow: hidden
        .sareeBx
            display: block
            width: 100%
            height: 100%
            position: relative
            overflow: hidden
            &:hover
                .imgbx
                    img
                        transform: scale(1.1)
                .info
                    .btnSec
                        opacity: 1
                        visibility: visible
                        &::after
                            width: 100%
                        >*
                            transform: translateY(0px)
            &::before, &::after
                position: absolute
                content: ""
                background: url(../images/sareTicon.svg) no-repeat
                z-index: 3
                top: 10px
                left: 10px
                width: 180px
                height: 180px
                background-size: 180px
                @media only screen and (min-width:1200px)
                    top: 15px
                    left: 15px
                    width: 210px
                    height: 210px
                    background-size: 210px
                @media only screen and (min-width:1441px)
                    width: 265px
                    background-size: 265px
                    height: 265px

            &::after
                background: url(../images/sareBicon.svg) no-repeat
                top: unset
                left: unset
                bottom: 15px
                right: 10px
                background-size: 180px
                @media only screen and (min-width:1200px)
                    right: 15px
                    background-size: 210px
                @media only screen and (min-width:1441px)
                    background-size: 265px

            .imgbx
                width: 100%
                height: 100%
                overflow: hidden
                position: relative
                z-index: 1
                aspect-ratio: 400 / 490
                &:after
                    position: absolute
                    content: ''
                    left: 0
                    bottom: 0
                    width: 100%
                    height: 150px
                    z-index: 2
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #280000 99.61%)

                img
                    transition: all 0.9s
                    @include imgFit
            .info
                position: absolute
                bottom: 0
                left: 0
                padding: 20px
                z-index: 4
                width: 70%
                .btnSec
                    display: flex
                    flex-wrap: wrap
                    margin: 0 -10px
                    margin-bottom: 10px
                    position: relative
                    transition: all 0.5s
                    overflow: hidden
                    opacity: 0
                    visibility: visible
                    width: 100%
                    padding-bottom: 15px
                    @media only screen and (min-width:1551px)
                        padding-bottom: 25px

                    &::after
                        position: absolute
                        content: ''
                        left: 10px
                        width: 0
                        transition: all 1s
                        height: 1px
                        background: #EAAA56
                        transition-delay: 0.1s
                        bottom: 0

                    >*
                        padding: 0 10px
                        position: relative
                        transform: translateY(50px)
                        transition: all 0.5s
                        flex-grow: 1

                        &:not(:last-of-type)
                            &::after
                                position: absolute
                                content: ''
                                top: 0
                                right: 0
                                height: 80%
                                bottom: 0
                                margin: auto
                                background: $white
                                width: 1px

                    .viewBtn
                        display: block
                        width: fit-content
                        color: $white
                        text-transform: uppercase
                        font-weight: 500
                        transition: all 0.5s
                        line-height: 1
                        font-size: 12px
                        @media only screen and (min-width:768px)
                            font-size: 14px
                        @media only screen and (min-width:1441px)
                            font-size: 16px
                        @media only screen and (min-width:1551px)
                            font-size: 18px
                        &:hover
                            color: $basecolor
                .mainTxt
                    font-family: $fontstack2
                    color: $white
                    text-transform: capitalize
                    font-size: 20px
                    @media only screen and (min-width:1441px)
                        font-size: 24px
#moments
    position: relative
    padding: 160px 0 30px
    @media only screen and (min-width:992px)
        padding: 80px 0
    @media only screen and (min-width:1441px)
        padding: 160px 0
    .deskTop
        @media only screen and (max-width:992px)
            display: none
    .mobileImage
        @media only screen and (min-width:992px)
            display: none
    &::before
        @media only screen and (max-width:992px)
            position: absolute
            content: ''
            left: 0
            width: 100%
            height: 100%
            top: 0
            z-index: -1
            transition: all 0.5s
            background: rgba(0, 0, 0, 0)
    &::after
        position: absolute
        content: ''
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #2C0000 99.61%)
        top: 0
        z-index: -1
        transition: all 0.5s
        @media only screen and (min-width:992px)
            width: 45%
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #010000 99.61%)
    .row
        margin: -10px
        >*
            padding: 10px
    .leftbx
        display: flex
        align-items: center
        .contentBx
            max-width: 300px
            @media only screen and (min-width:992px)
                max-width: 345px
            @media only screen and (min-width:1351px)
                max-width: 385px
            @media only screen and (min-width:1441px)
                max-width: 485px
            .mainHead
                &::after
                    display: none
                p
                    @include clamp
                    --lines: 3
                    font-weight: 300
            .cmnBtn
                min-width: 215px
                font-weight: 300
    .momentBx
        display: block
        width: 100%
        height: 100%
        transition: all 0.5s
        padding: 40px 20px
        @media only screen and (min-width:768px)
            padding: 50px 30px
        @media only screen and (min-width:1200px)
            padding: 55px 30px
        &:hover
            .imgbx
                img
                    transform: scale(1.1)
        &::after
            position: absolute
            content: ''
            left: 0
            top: 0
            background: url('../images/borderBx.svg') no-repeat
            width: 100%
            height: 100%
            transition: all 0.5s
            background-size: contain
        .imgbx
            width: 100%
            height: 100%
            overflow: hidden
            aspect-ratio: 250 / 350
            img
                transition: all 0.5s
                @include imgFit
    .sliderBx
        overflow: hidden

#fashion
    position: relative
    padding: 30px 0
    @media only screen and (min-width:1200px)
        padding: 50px 0
    @media only screen and (min-width:1551px)
        padding: 95px 0 110px
    .mainHead
        margin-bottom: 70px
    .fashionSlider
        position: relative
        .swiper-slide
            &:not(.swiper-slide-visible)
                opacity: 0
                visibility: hidden
    .btnBx
        &:has(.swiper-button-lock)
            display: none
        @media only screen and (max-width:992px)
            display: flex
            align-items: center
            justify-content: center
            max-width: 120px
            width: 100%
            margin: auto

        .swiper-button-next, .swiper-button-prev
            width: 45px
            height: 45px
            border-radius: 50%
            background: $white
            border: 1px solid #EAAA56
            left: -22px
            @include center
            @media only screen and (max-width:992px)
                position: relative
                left: 0
                top: 0
                margin: 0
                margin-top: 15px
                width: 35px
                height: 35px

            .icon
                display: flex
                max-width: 14px
        .swiper-button-next
            left: unset
            @media only screen and (min-width:992px)
                right: -22px

    .fashionBx
        display: block
        width: 100%
        height: 100%
        position: relative
        &::after
            position: absolute
            content: ''
            left: 0
            bottom: 0
            width: 100%
            height: 50%
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #280000 99.61%)
        &:hover
            .imgbx
                img
                    transform: scale(1.1)
            .info
                .btnSec
                    opacity: 1
                    visibility: visible
                    &::after
                        width: 100%
                    >*
                        transform: translateY(0px)
        .imgbx
            width: 100%
            height: 100%
            overflow: hidden
            aspect-ratio: 300 / 420
            img, video
                transition: all 0.5s
                @include imgFit
        .info
            position: absolute
            bottom: 0
            left: 0
            padding: 20px
            z-index: 4
            .btnSec
                display: flex
                flex-wrap: wrap
                margin: 0 -10px
                margin-bottom: 10px
                position: relative
                transition: all 0.5s
                overflow: hidden
                opacity: 0
                visibility: visible
                width: 100%
                padding-bottom: 15px
                @media only screen and (min-width:1551px)
                    padding-bottom: 25px

                &::after
                    position: absolute
                    content: ''
                    left: 10px
                    width: 0
                    transition: all 1s
                    height: 1px
                    background: #EAAA56
                    transition-delay: 0.1s
                    bottom: 0

                >*
                    padding: 0 10px
                    position: relative
                    transform: translateY(50px)
                    transition: all 0.5s
                    flex-grow: 1

                    &:not(:last-of-type)
                        &::after
                            position: absolute
                            content: ''
                            top: 0
                            right: 0
                            height: 80%
                            bottom: 0
                            margin: auto
                            background: $white
                            width: 1px
                .viewBtn
                    display: block
                    width: fit-content
                    color: $white
                    text-transform: uppercase
                    font-weight: 500
                    transition: all 0.5s
                    line-height: 1
                    font-size: 12px
                    @media only screen and (min-width:768px)
                        font-size: 14px
                    @media only screen and (min-width:1441px)
                        font-size: 16px
                    @media only screen and (min-width:1551px)
                        font-size: 18px
                    &:hover
                        color: $basecolor
            .mainTxt
                color: $white
                text-transform: capitalize
                font-size: 12px
                @media only screen and (min-width:578px)
                    font-size: 14px
                @media only screen and (min-width:1351px)
                    font-size: 16px
                @media only screen and (min-width:1441px)
                    font-size: 17px
                @media only screen and (min-width:1551px)
                    font-size: 18px
#bridal
    position: relative
    padding: 325px 0 40px
    @media only screen and (min-width:992px)
        padding: 90px 0
    .deskTop
        @media only screen and (max-width:992px)
            display: none
    .mobileImage
        @media only screen and (min-width:992px)
            display: none
    &::after
        position: absolute
        content: ''
        left: 0
        width: 100%
        height: 100%
        top: 0
        z-index: -1
        transition: all 0.5s
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #2C0000 99.61%)
        @media only screen and (min-width: 992px)
            width: 70%
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #3D0000 99.61%)

    .contentBx
        max-width: 660px
        width: 100%
        .mainHead
            margin-bottom: 15px
            @media only screen and (min-width: 678px)
                margin-bottom: 20px
            .mainTitle
                padding-bottom: 5px
                border-bottom: 1px solid #EAAA56
                width: fit-content
            &::after
                display: none
        .subT
            font-weight: 500
            color: $white
            margin-bottom: 20px
            font-size: 14px
            @media only screen and (min-width: 678px)
                font-size: 16px
            @media only screen and (min-width: 1200px)
                font-size: 18px
            @media only screen and (min-width: 1551px)
                font-size: 20px

        p
            font-weight: 300
            color: $white
            margin-bottom: 15px
            @include clamp
            --lines: 5
            @media only screen and (min-width: 678px)
                margin-bottom: 25px
        ul
            display: flex
            flex-wrap: wrap
            margin-bottom: 30px
            >*
                width: calc(100% / 2)
            li
                position: relative
                font-size: 13px
                font-weight: 300
                margin-bottom: 15px
                padding-left: 25px
                color: $white
                @media only screen and (min-width: 768px)
                    font-size: 14px
                    margin-bottom: 20px
                @media only screen and (min-width: 1441px)
                    font-size: 16px
                    margin-bottom: 25px
                @media only screen and (min-width: 1551px)
                    font-size: 18px
                &::before
                    position: absolute
                    content: ''
                    left: 0
                    top: 5px
                    background: url('../images/ulicon.svg') no-repeat
                    width: 14px
                    height: 14px
                    background-size: 14px
        .cmnBtn
            font-weight: 300
            min-width: 120px
            @media only screen and (min-width: 678px)
                min-width: 215px
#signature
    position: relative
    background: #FFEDED
    padding: 40px 0
    @media only screen and (min-width:1200px)
        padding: 50px 0
    @media only screen and (min-width:1551px)
        padding: 100px 0 110px
    .mainHead
        margin-bottom: 55px
        &::after
            right: unset
    .mobheading
        margin-bottom: 30px
        @media only screen and (min-width: 992px)
            display: none
    .mobBtn
        @media only screen and (min-width: 992px)
            display: none

    .signatureSlider
        overflow: hidden
        @media only screen and (max-width: 992px)
            margin-bottom: 30px
        .swiper-slide
            &:has(.mainHead)
                @media only screen and (max-width: 992px)
                    display: none
        .swiper-wrapper
            @media only screen and (min-width: 992px)
                display: flex
                flex-wrap: wrap
                margin: -8px
            @media only screen and (min-width: 1441px)
                margin: -15px
            >*
                @media only screen and (min-width: 992px)
                    width: calc(100% / 3)
                    padding: 8px
                    height: auto
                @media only screen and (min-width: 1441px)
                    padding: 15px
    .signatureBx
        display: block
        width: 100%
        height: 100%
        position: relative
        overflow: hidden
        z-index: 0
        &::after
            position: absolute
            content: ''
            background: url('../images/styleIcon.svg') no-repeat
            height: 22px
            right: 15px
            bottom: 10px
            z-index: 1
            pointer-events: none
            width: 100px
            background-size: 100px
            @media only screen and (min-width:768px)
                bottom: 20px
                width: 140px
                background-size: 140px
            @media only screen and (min-width:1441px)
                width: 165px
                background-size: 165px
        &:hover
            .imgbx
                img
                    transform: scale(1.1)
            .info
                .btnSec
                    opacity: 1
                    visibility: visible
                    &::after
                        width: 100%
                    >*
                        transform: translateY(0px)

        .imgbx
            width: 100%
            height: 100%
            overflow: hidden
            position: relative
            z-index: 1
            aspect-ratio: 510/350
            &:after
                position: absolute
                content: ''
                left: 0
                bottom: 0
                width: 100%
                height: 150px
                z-index: 2
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #280000 99.61%)
                opacity: 0.6
            img
                transition: all 0.9s
                @include imgFit
        .info
            position: absolute
            bottom: 0
            left: 0
            padding: 20px
            width: 100%
            z-index: 4
            .btnSec
                display: flex
                flex-wrap: wrap
                margin: 0 -10px
                margin-bottom: 10px
                position: relative
                transition: all 0.5s
                overflow: hidden
                opacity: 0
                visibility: visible
                width: 100%
                padding-bottom: 15px
                @media only screen and (min-width:1551px)
                    padding-bottom: 25px

                &::after
                    position: absolute
                    content: ''
                    left: 10px
                    width: 0
                    transition: all 1s
                    height: 1px
                    background: #EAAA56
                    transition-delay: 0.1s
                    bottom: 0

                >*
                    padding: 0 10px
                    position: relative
                    transform: translateY(50px)
                    transition: all 0.5s
                    flex-grow: 1

                    &:not(:last-of-type)
                        &::after
                            position: absolute
                            content: ''
                            top: 0
                            right: 0
                            height: 80%
                            bottom: 0
                            margin: auto
                            background: $white
                            width: 1px
                .viewBtn
                    display: block
                    width: fit-content
                    color: $white
                    text-transform: uppercase
                    font-weight: 500
                    transition: all 0.5s
                    line-height: 1
                    font-size: 12px
                    @media only screen and (min-width:768px)
                        font-size: 14px
                    @media only screen and (min-width:1441px)
                        font-size: 16px
                    @media only screen and (min-width:1551px)
                        font-size: 18px
                    &:hover
                        color: $basecolor
            .mainTxt
                font-family: $fontstack2
                color: $white
                font-weight: 400
                text-transform: capitalize
                font-size: 20px
                @media only screen and (min-width:1441px)
                    font-size: 24px
#consult
    position: relative
    padding: 400px 0 40px
    @media only screen and (min-width:992px)
        padding: 100px 0
    .deskTop
        @media only screen and (max-width:992px)
            display: none
    .mobileImage
        @media only screen and (min-width:992px)
            display: none
    &::before
        position: absolute
        content: ''
        left: 0
        width: 100%
        height: 100%
        top: 0
        z-index: -1
        transition: all 0.5s
        background: rgba(0, 0, 0, 0)

    &::after
        position: absolute
        content: ''
        left: 0
        height: 100%
        top: 0
        z-index: -1
        transition: all 0.5s
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #2C0000 99.61%)
        width: 100%
        @media only screen and (min-width: 678px)
            width: 70%
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #320505 100%)

    .contentBx
        max-width: 460px
        width: 100%
        .mainHead
            margin-bottom: 15px
            @media only screen and (min-width: 678px)
                margin-bottom: 20px
            .mainTitle
                padding-bottom: 5px
                border-bottom: 1px solid #EAAA56
                width: fit-content
            &::after
                display: none
        .subT
            font-weight: 500
            color: $white
            margin-bottom: 20px
            font-size: 14px
            @media only screen and (min-width: 678px)
                font-size: 16px
            @media only screen and (min-width: 1200px)
                font-size: 18px
            @media only screen and (min-width: 1551px)
                font-size: 20px

        p
            font-weight: 300
            color: $white
            margin-bottom: 15px
            @include clamp
            --lines: 5
            @media only screen and (min-width: 678px)
                margin-bottom: 25px
        ul
            display: flex
            flex-wrap: wrap
            margin-bottom: 30px
            >*
                width: calc(100% / 2)
            li
                position: relative
                font-size: 13px
                font-weight: 300
                margin-bottom: 15px
                padding-left: 25px
                color: $white
                @media only screen and (min-width: 768px)
                    font-size: 14px
                    margin-bottom: 20px
                @media only screen and (min-width: 1441px)
                    font-size: 16px
                    margin-bottom: 25px
                @media only screen and (min-width: 1551px)
                    font-size: 18px
                &::before
                    position: absolute
                    content: ''
                    left: 0
                    top: 5px
                    background: url('../images/ulicon.svg') no-repeat
                    width: 14px
                    height: 14px
                    background-size: 14px
        .cmnBtn
            font-weight: 300
            min-width: 120px
            @media only screen and (min-width: 678px)
                min-width: 215px
#foreever
    position: relative
    padding: 40px 0
    @media only screen and (min-width:1200px)
        padding: 50px 0
    @media only screen and (min-width:1551px)
        padding: 110px 0 130px
    .row
        margin: -8px
        >*
            padding: 8px
        .mainHead
            &::after
                display: none
        .mobileContent
            @media only screen and (min-width:992px)
                display: none

    .imgWrpBx
        width: 100%
        overflow: hidden
        position: relative
        @media only screen and (min-width:992px)
            height: 100%
        &:hover
            .imgBx
                img
                    transform: scale(1.1)
            .info
                .txt
                    transform: translateY(-50px)
        &::before, &::after
            position: absolute
            content: ""
            background: url(../images/sareTicon.svg) no-repeat
            z-index: 3
            top: 10px
            left: 10px
            width: 180px
            height: 180px
            background-size: 180px
            @media only screen and (min-width:1200px)
                top: 15px
                left: 15px
                width: 210px
                height: 210px
                background-size: 210px
            @media only screen and (min-width:1441px)
                width: 265px
                background-size: 265px
                height: 265px

        &::after
            background: url(../images/sareBicon.svg) no-repeat
            top: unset
            left: unset
            bottom: 15px
            right: 10px
            background-size: 180px
            @media only screen and (min-width:1200px)
                right: 15px
                background-size: 210px
            @media only screen and (min-width:1441px)
                background-size: 265px
        .imgBx
            width: 100%
            height: 100%
            overflow: hidden
            aspect-ratio: 400 / 370
            @media only screen and (min-width:992px)
                aspect-ratio: 500 / 620
            img
                transition: all 0.5s
                @include imgFit
        .info
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            padding: 15px
            transition: all 0.5s
            .txt
                font-weight: 400
                transition: all 0.5s
                font-family: $fontstack2
                line-height: 1.2
                max-width: 160px
                color: $white
                font-size: 24px
                @media only screen and (min-width:578px)
                    max-width: 270px
                    font-size: 26px
                @media only screen and (min-width:768px)
                    font-size: 28px
                @media only screen and (min-width:1200px)
                    font-size: 30px
                @media only screen and (min-width:1441px)
                    font-size: 36px
                @media only screen and (min-width:1441px)
                    font-size: 42px

    .flBx
        @media only screen and (min-width:1200px)
            padding-left: 30px
        @media only screen and (min-width:1351px)
            padding-left: 40px
        @media only screen and (max-width:992px)
            display: flex
            flex-direction: column-reverse

        .contentBx
            .flx
                display: flex
                flex-wrap: wrap
                align-items: flex-end
                justify-content: space-between
                margin-top: 20px
                @media only screen and (min-width:992px)
                    margin-bottom: 20px
                @media only screen and (min-width:1200px)
                    margin-bottom: 35px
                >*
                    flex-grow: 1
                    @media only screen and (max-width:578px)
                        width: 100% !important
                .lft
                    width: calc(100% - 120px)
                    @media only screen and (max-width:992px)
                        display: none
                    .mainHead
                        p
                            @include clamp
                            --lines: 3
                .rtbx
                    width: 120px
            .mainHead
                margin-bottom: 0
                max-width: 840px
                .mainTitle
                    font-weight: 700
                &::after
                    display: none
            .btnBx
                display: flex
                align-items: center
                justify-content: flex-end
                max-width: 100px
                width: 100%
                margin: -6px auto
                @media only screen and (min-width:992px)
                    margin: -6px
                    margin-left: auto
                &:has(.swiper-button-lock)
                    display: none
                >*
                    padding: 6px
                .swiper-button-next, .swiper-button-prev
                    border-radius: 50%
                    background: $white
                    border: 1px solid #EAAA56
                    position: relative
                    left: 0
                    top: 0
                    margin: 0
                    width: 35px
                    height: 35px
                    @include center
                    @media only screen and (min-width:1441px)
                        width: 45px
                        height: 45px
                    .icon
                        display: flex
                        max-width: 14px
        .foreverBx
            display: block
            width: 100%
            height: 100%
            position: relative
            overflow: hidden
            z-index: 0
            &:hover
                .imgbx
                    img
                        transform: scale(1.1)

            .imgbx
                width: 100%
                height: 100%
                overflow: hidden
                position: relative
                z-index: 1
                &:after
                    position: absolute
                    content: ''
                    left: 0
                    bottom: 0
                    width: 100%
                    height: 150px
                    z-index: 2
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #280000 99.61%)
                    opacity: 0.6
                img
                    transition: all 0.9s
                    aspect-ratio: 330 / 500
                    @include imgFit
            .info
                position: absolute
                bottom: 0
                left: 0
                padding: 20px
                width: 100%
                z-index: 4

                .mainTxt
                    color: $white
                    font-weight: 500
                    text-transform: capitalize
                    font-size: 16px
                    @media only screen and (min-width:1441px)
                        font-size: 18px
        .foreveSlider
            overflow: hidden
            .swiper-slide
                height: auto
#brides
    position: relative
    background: #FFEDED
    padding: 40px 0 0
    @media only screen and (min-width:992px)
        padding: 60px 0 0
    @media only screen and (min-width:1441px)
        padding: 75px 0 0
    .mainHead
        max-width: 950px
        margin-bottom: 60px
        @media only screen and (min-width:992px)
            margin-bottom: 85px
    .container-fluid
        width: 100%
        max-width: 100%
        padding: 0
        .bridalimBx
            display: block
            width: 100%
            height: 100%
            position: relative
            &:hover
                .imgBx
                    img
                        transform: scale(1.1)
            .imgBx
                width: 100%
                height: 100%
                overflow: hidden
                aspect-ratio: 245 / 245
                img
                    transition: all 0.5s
                    @include imgFit
    .sliderBx
        height: 210px
        @media only screen and (min-width:578px)
            height: 250px
        @media only screen and (min-width:768px)
            height: 300px
        @media only screen and (min-width:992px)
            height: 350px
        @media only screen and (min-width:1441px)
            height: 400px
        @media only screen and (min-width:1551px)
            height: 500px
        >*
            height: calc(100% / 2)
            >*
                height: 100%
    .bridalSlider2
        direction: rtl
.swiper-button-prev, .swiper-button-next
    &:hover
        background: #DDB17A !important
