.categoryListingPage
    #style
        padding: 40px 0px 40px
        @media only screen and (min-width:1200px)
            padding: 60px 0px 60px
        @media only screen and (min-width:1551px)
            padding: 80px 0px 80px
        @media only screen and (min-width:1661px)
            padding: 95px 0px 115px
        .mainHead
            max-width: 840px
            margin-bottom: 60px
            @media only screen and (min-width:1551px)
                margin-bottom: 80px
            @media only screen and (min-width:1661px)
                margin-bottom: 100px
        .d_flx
            display: flex
            flex-wrap: wrap
            justify-content: center
            @media only screen and (min-width:500px)
                margin: 0 -5px
            @media only screen and (min-width:1200px)
                margin: 0 -10px
            @media only screen and (min-width:1661px)
                margin: 0 -16px
            .item
                width: 100%
                padding: 5px 0px
                @media only screen and (min-width:500px)
                    width: calc( 100% / 2 )
                    padding: 5px 5px
                @media only screen and (min-width:768px)
                    width: calc( 100% / 3 )
                @media only screen and (min-width:1200px)
                    padding: 12px 10px
                @media only screen and (min-width:1661px)
                    padding: 17px 16px
                .signatureBx
                    display: block
                    width: 100%
                    height: 100%
                    position: relative
                    overflow: hidden
                    z-index: 0
                    &::after
                        position: absolute
                        content: ''
                        background: url('../images/styleIcon.svg') no-repeat
                        height: 22px
                        right: 15px
                        bottom: 10px
                        z-index: 1
                        pointer-events: none
                        width: 100px
                        background-size: 100px
                        @media only screen and (min-width:768px)
                            bottom: 20px
                            width: 140px
                            background-size: 140px
                        @media only screen and (min-width:1441px)
                            width: 165px
                            background-size: 165px
                    &:hover
                        .imgbx
                            img
                                transform: scale(1.1)

                    .imgbx
                        width: 100%
                        height: 100%
                        overflow: hidden
                        position: relative
                        z-index: 1
                        aspect-ratio: 510/350
                        &:after
                            position: absolute
                            content: ''
                            left: 0
                            bottom: 0
                            width: 100%
                            height: 150px
                            z-index: 2
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #280000 99.61%)
                            opacity: 0.6
                        img
                            transition: all 0.9s
                            @include imgFit
                    .info
                        position: absolute
                        bottom: 0
                        left: 0
                        padding: 20px
                        width: 100%
                        z-index: 4

                        .mainTxt
                            font-family: $fontstack2
                            color: $white
                            font-weight: 400
                            text-transform: capitalize
                            font-size: 20px
                            @media only screen and (min-width:1441px)
                                font-size: 24px
    #collections
        padding: 40px 0px 40px
        @media only screen and (min-width:1200px)
            padding: 60px 0px 60px
        @media only screen and (min-width:1441px)
            padding: 80px 0px 80px
        @media only screen and (min-width:1661px)
            padding: 95px 0px 115px
        .mainHead
            max-width: 840px
            margin-bottom: 60px
            @media only screen and (min-width:1551px)
                margin-bottom: 80px
            @media only screen and (min-width:1661px)
                margin-bottom: 100px
        .d_flx
            display: flex
            flex-wrap: wrap
            justify-content: center
            @media only screen and (min-width:530px)
                margin: 0 -5px
            @media only screen and (min-width:1351px)
                margin: 0 -12px
            @media only screen and (min-width:1661px)
                margin: 0 -18px
            .item
                width: 100%
                padding: 5px 0px
                @media only screen and (min-width:530px)
                    width: calc( 100% / 2 )
                    padding: 5px 5px
                @media only screen and (min-width:1351px)
                    padding: 15px 12px
                @media only screen and (min-width:1661px)
                    padding: 20px 18px
                .sub_category
                    .imgBx
                        position: relative
                        width: 100%
                        aspect-ratio: 780 / 518
                        overflow: hidden
                        &::after
                            content: ""
                            position: absolute
                            left: 0
                            right: 0
                            bottom: 0
                            height: 150px
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(40, 0, 0, 0.90) 99.61%)
                            mix-blend-mode: multiply
                        img
                            @include imgFit
                            transition: all 0.5s
                        .info
                            position: absolute
                            left: 25px
                            bottom: 25px
                            z-index: 1
                            @media only screen and (min-width:1351px)
                                left: 45px
                                bottom: 40px
                            .popup_flx
                                display: flex
                                margin: 0 -10px
                                padding-bottom: 8px
                                position: relative
                                margin-bottom: 8px
                                transition: all 0.5s
                                @media only screen and (min-width:580px)
                                    opacity: 0
                                    visibility: hidden
                                @media only screen and (min-width:1351px)
                                    margin: 0 -20px
                                    margin-bottom: 10px
                                    padding-bottom: 12px
                                @media only screen and (min-width:1551px)
                                    padding-bottom: 20px
                                    margin: 0 -25px
                                    margin-bottom: 15px
                                &::after
                                    content: ""
                                    position: absolute
                                    left: 10px
                                    bottom: 0
                                    width: 136px
                                    height: 1px
                                    background: linear-gradient(360deg, #EAAA56 0%, #846031 100%)
                                    @media only screen and (min-width:580px)
                                        width: 156px
                                    @media only screen and (min-width:1351px)
                                        left: 25px
                                        width: 190px
                                    @media only screen and (min-width:1551px)
                                        width: 226px
                                .view, .enq
                                    font-size: 12px
                                    font-weight: 500
                                    color: #fff
                                    text-transform: uppercase
                                    display: block
                                    padding: 0px 10px
                                    @media only screen and (min-width:580px)
                                        font-size: 14px
                                    @media only screen and (min-width:1351px)
                                        font-size: 16px
                                        padding: 0px 20px
                                    @media only screen and (min-width:1551px)
                                        font-size: 18px
                                        padding: 0px 25px
                                .enq
                                    position: relative
                                    &::before
                                        content: ""
                                        position: absolute
                                        top: 0
                                        bottom: 0
                                        margin: auto
                                        left: 0px
                                        width: 1px
                                        background-color: #fff
                                        height: 13px
                            .name
                                font-size: 18px
                                font-family: $fontstack2
                                color: #fff
                                font-weight: 700
                                @media only screen and (min-width:1351px)
                                    font-size: 22px
                                @media only screen and (min-width:1551px)
                                    font-size: 28px
                    &:hover
                        .imgBx
                            img
                                transform: scale(1.1)
                            .info
                                .popup_flx
                                    opacity: 1

                                    visibility: visible
.productPage
    #story
        position: relative
        padding: 35px 0 15px
        @media only screen and (min-width:1200px)
            padding: 60px 0 15px
        @media only screen and (min-width:1441px)
            padding: 95px 0 35px
        .storyBx
            position: relative
            width: 100%
            background: #FFECD4
            overflow: hidden
            padding: 20px 25px
            @media only screen and (min-width:578px)
                padding: 40px 50px
            @media only screen and (min-width:768px)
                padding: 50px 70px 0
                height: 430px
            @media only screen and (min-width:992px)
                height: 500px
            @media only screen and (min-width:1351px)
                padding: 68px 105px 0
                height: 550px
            @media only screen and (min-width:1441px)
                height: 600px
            @media only screen and (min-width:1551px)
                height: 720px
            &::before, &::after
                position: absolute
                content: ''
                height: 100%
                top: 0
                background: url('../images/storyBodr.svg') no-repeat
                background-size: cover
                width: 25px
                left: 0px
                @media only screen and (min-width:578px)
                    width: 35px
                @media only screen and (min-width:1200px)
                    left: 10px
                    width: 50px
            &::after
                right: 0px
                left: unset
                @media only screen and (min-width:1200px)
                    right: 10px

            .storyCard
                display: flex
                flex-wrap: wrap
                width: 100%
                height: 100%
                margin: -8px
                position: relative
                padding-left: 20px
                @media only screen and (max-width:768px)
                    padding-left: 40px
                .boderDot
                    position: absolute
                    top: 0
                    height: calc(100% - 20px)
                    width: 25px
                    bottom: 0
                    margin: auto
                    transition: all 0.5s
                    overflow: hidden
                    left: 15px
                    @media only screen and (min-width:768px)
                        left: 10px
                    .line
                        position: absolute
                        content: ''
                        width: 1.5px
                        height: 0%
                        left: 12px
                        top: 0
                        background: #DDB17A
                        margin: auto
                        transition: all 2s

                    &::before
                        position: absolute
                        content: ''
                        background: #976F40
                        width: 12px
                        height: 12px
                        border-radius: 50%
                        left: 0
                        z-index: 1
                        right: 0
                        margin: auto
                        top: 0

                    &::after
                        position: absolute
                        content: ''
                        right: 0
                        margin: auto
                        z-index: 1
                        left: 0
                        bottom: 0
                        width: 18px
                        height: 18px
                        background: url('../images/dot.svg') no-repeat
                        background-size: 18px

                >*
                    width: 100%
                    padding: 8px
                    @media only screen and (min-width: 768px)
                        width: calc(100% / 3)
                .contentBx
                    @media only screen and (min-width: 768px)
                        width: 180px
                        padding-left: 30px
                    @media only screen and (min-width: 992px)
                        width: 220px
                    @media only screen and (min-width:1200px)
                        padding-left: 40px
                        width: 250px
                    @media only screen and (min-width:1441px)
                        width: 300px
                    @media only screen and (min-width:1551px)
                        padding-left: 60px
                        width: 350px
                    .Title
                        font-weight: 700
                        font-family: $fontstack2
                        color: $black
                        font-size: 17px
                        @media only screen and (min-width:768px)
                            font-size: 18px
                        @media only screen and (min-width:992px)
                            font-size: 22px
                        @media only screen and (min-width:1441px)
                            font-size: 25px
                        @media only screen and (min-width:1551px)
                            font-size: 30px

                .imWrap
                    @media only screen and (min-width: 768px)
                        width: 250px
                    @media only screen and (min-width:992px)
                        width: 350px
                    @media only screen and (min-width:1200px)
                        width: 400px
                    @media only screen and (min-width:1441px)
                        width: 450px
                    @media only screen and (min-width:1551px)
                        width: 520px
                    .imgbx
                        width: 100%
                        overflow: hidden
                        aspect-ratio: 530 / 330
                        @media only screen and (min-width: 768px)
                            height: 100%
                        &:hover
                            img
                                transform: scale(1.1)
                        img, video
                            transition: all 0.5s
                            @include imgFit
                .infoBx
                    display: flex
                    align-items: center
                    @media only screen and (min-width: 768px)
                        padding-left: 30px
                        width: calc(100% - (180px + 250px))
                    @media only screen and (min-width:992px)
                        padding-left: 45px
                        width: calc(100% - (220px + 350px))
                    @media only screen and (min-width:1200px)
                        width: calc(100% - (250px + 400px))
                    @media only screen and (min-width:1441px)
                        width: calc(100% - (300px + 450px))
                    @media only screen and (min-width:1551px)
                        width: calc(100% - (350px + 520px))
                        padding-left: 65px
                    .contents
                        width: 100%
                        max-height: 280px
                        padding-right: 10px
                        overflow: auto
                        .mainHead
                            margin-bottom: 60px

            .storySlider
                width: 100%
                height: 100%
                overflow: hidden
                .swiper-slide
                    &.swiper-slide-active
                        .storyCard
                            .contentBx
                                .Title
                                    color: #976F40
                            .infoBx
                                .contents
                                    .mainHead
                                        .mainTitle
                                            color: #976F40

                            .boderDot
                                .line
                                    height: 100%
                    &:nth-child(even)
                        .storyCard
                            .boderDot
                                &::before
                                    bottom: 0
                                    top: unset

                                &::after
                                    bottom: unset
                                    top: 0

    #products
        position: relative
        padding: 15px 0 40px
        @media only screen and (min-width:1200px)
            padding: 15px 0 50px
        @media only screen and (min-width:1551px)
            padding: 35px 0 100px
        .mainHead
            margin-bottom: 30px
            @media only screen and (min-width:1551px)
                margin-bottom: 40px
            &::after
                display: none
            .mainTitle
                background: $white
                position: relative
                padding-right: 20px
                overflow: hidden
                z-index: 0
                line-height: 1.4
                &::after
                    position: absolute
                    content: ''
                    top: 10px
                    bottom: 0
                    margin: auto
                    height: 1px
                    width: 100%
                    background: #BE965D
                    margin-left: 20px
        .productListItem
            display: flex
            flex-wrap: wrap
            margin: -5px
            @media only screen and (min-width:1351px)
                margin: -10px
            >*
                // flex-grow: 1
                padding: 5px
                width: 100%
                @media only screen and (min-width:368px)
                    width: calc(100% / 2 )
                @media only screen and (min-width:578px)
                    width: calc(100% / 3 )
                @media only screen and (min-width:768px)
                    width: calc(100% / 4 )
                @media only screen and (min-width:1200px)
                    width: calc(100% / 5 )
                @media only screen and (min-width:1351px)
                    padding: 10px

        .productBx
            display: block
            width: 100%
            height: 100%
            position: relative
            overflow: hidden
            z-index: 0
            &:hover
                .imgbx
                    img
                        transform: scale(1.1)
                .info
                    .btnSec
                        opacity: 1
                        visibility: visible
                        &::after
                            width: calc(100% - 20px)
                        >*
                            transform: translateY(0px)

            .imgbx
                width: 100%
                height: 100%
                overflow: hidden
                position: relative
                z-index: 1
                aspect-ratio: 300 / 420
                &:after
                    position: absolute
                    content: ''
                    left: 0
                    bottom: 0
                    width: 100%
                    height: 350px
                    z-index: 2
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #280000 99.61%)
                    opacity: 0.5

                img, video, frame
                    transition: all 0.9s
                    @include imgFit

            .info
                position: absolute
                bottom: 0
                left: 0
                padding: 25px 10px
                width: 100%
                z-index: 4
                @media only screen and (min-width:768px)
                    padding: 25px 15px
                .btnSec
                    display: flex
                    flex-wrap: wrap
                    margin: 0 -10px
                    margin-bottom: 10px
                    position: relative
                    transition: all 0.5s
                    overflow: hidden
                    opacity: 0
                    visibility: visible
                    padding-bottom: 15px
                    @media only screen and (min-width:1551px)
                        padding-bottom: 25px

                    &::after
                        position: absolute
                        content: ''
                        left: 10px
                        width: 0
                        transition: all 1s
                        height: 1px
                        background: #EAAA56
                        transition-delay: 0.1s
                        bottom: 0

                    >*
                        padding: 0 10px
                        position: relative
                        transform: translateY(50px)
                        transition: all 0.5s

                        &:not(:last-of-type)
                            &::after
                                position: absolute
                                content: ''
                                top: 0
                                right: 0
                                height: 80%
                                bottom: 0
                                margin: auto
                                background: $white
                                width: 1px

                    .viewBtn
                        display: block
                        width: fit-content
                        color: $white
                        text-transform: uppercase
                        font-weight: 500
                        transition: all 0.5s
                        line-height: 1
                        background: transparent 
                        font-size: 12px
                        @media only screen and (min-width:768px)
                            font-size: 14px
                        @media only screen and (min-width:1441px)
                            font-size: 16px
                        @media only screen and (min-width:1551px)
                            font-size: 18px
                        &:hover
                            color: $basecolor
                .mainTxt
                    color: $white
                    font-weight: 500
                    text-transform: capitalize
                    font-size: 14px
                    @include clamp
                    --lines: 2
                    @media only screen and (min-width:768px)
                        font-size: 15px
                    @media only screen and (min-width:1441px)
                        font-size: 18px
