$fontstack1: "Albert Sans", serif
$fontstack2: "Nostalgic Whispers", sans-serif

$basecolor: #EC2829
$basecolor1: #00B6B6 
$hover: #1B3765

$text: #131514
$text2: #060606

$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)
 