$fontstack1: "Satoshi", serif
$fontstack2: "Very Vogue", sans-serif

$basecolor: #EA2126
$basecolor1: #00B6B6 
$hover: #1B3765

$text: #111111
$text2: #060606

$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)
 